# Node modules and builds
node_modules/
dist/
out/

# OS files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# App binaries
*.exe
*.dmg
*.app

# Env files
.env*

# regular files
output.html
